[submodule "OpenGL-4-Shading-Language-Cookbook-Third-Edition"]
	path = OpenGL-4-Shading-Language-Cookbook-Third-Edition
	url = https://github.com/PacktPublishing/OpenGL-4-Shading-Language-Cookbook-Third-Edition.git
[submodule "opengles3-book"]
	path = opengles3-book
	url = https://github.com/danginsburg/opengles3-book.git
[submodule "OpenGL"]
	path = OpenGL
	url = https://github.com/McNopper/OpenGL.git
[submodule "OpenGL_3_3_Tutorial_Translation"]
	path = OpenGL_3_3_Tutorial_Translation
	url = https://github.com/cybercser/OpenGL_3_3_Tutorial_Translation.git
[submodule "opengl-tutorials"]
	path = opengl-tutorials
	url = https://github.com/zilongshanren/opengl-tutorials.git
[submodule "OpenGL-Examples"]
	path = OpenGL-Examples
	url = https://github.com/progschj/OpenGL-Examples.git
[submodule "Simple_GLSL_Shader_Example"]
	path = Simple_GLSL_Shader_Example
	url = https://github.com/MauriceGit/Simple_GLSL_Shader_Example.git
[submodule "OpenGLInsightsCode"]
	path = OpenGLInsightsCode
	url = https://github.com/OpenGLInsights/OpenGLInsightsCode.git
[submodule "antons_opengl_tutorials_book"]
	path = antons_opengl_tutorials_book
	url = https://github.com/capnramses/antons_opengl_tutorials_book.git
[submodule "OpenGL-Deferred-Lighting"]
	path = OpenGL-Deferred-Lighting
	url = https://github.com/sephirot47/OpenGL-Deferred-Lighting.git
[submodule "Partikel_accelleration_on_GPU"]
	path = Partikel_accelleration_on_GPU
	url = https://github.com/MauriceGit/Partikel_accelleration_on_GPU.git
[submodule "OpenGL-ES-3.0-Deferred-Rendering"]
	path = OpenGL-ES-3.0-Deferred-Rendering
	url = https://github.com/GameTechDev/OpenGL-ES-3.0-Deferred-Rendering.git
[submodule "Tessellation"]
	path = Tessellation
	url = https://github.com/GPUOpen-LibrariesAndSDKs/Tessellation.git
